<a href="https://colab.research.google.com/github/miotomita/meta/blob/main/revise_meta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
countries = pd.read_csv('https://raw.githubusercontent.com/miotomita/meta/main/countries_meta.csv')

追加

OWID

In [83]:
sub = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/scripts/input/owid/subnational_population_2020.csv')

In [84]:
sub = sub.loc[~sub.iso_code.isin(countries.code_OWID)].rename(columns={'location':'name_full','iso_code':'code_OWID','population':'population_OWID','source':'population_source'})

In [85]:
sub['code_3digit'] = sub.code_OWID
sub['population_agg'] = sub.population_OWID
sub['name_short'] = sub.name_full

In [86]:
sub['source'] = 'OWID'

In [87]:
sub[['sovereignty_code','sovereignty_code_NK','region','sovereignty_name_NK','region_ja','category']]= countries.loc[countries.code_3digit=='GBR',['sovereignty_code','sovereignty_code_NK','region','sovereignty_name_NK','region_ja','category']].iloc[0].to_list()

In [88]:
sub['name_ja'] = sub.code_OWID.map({'OWID_ENG':'イングランド', 'OWID_SCT':'スコットランド', 'OWID_WLS':'ウェールズ', 'OWID_NIR':'北アイルランド'})

In [95]:
sub['notes'] = 'subnational area of GBR'

In [96]:
sub

          name_full code_OWID  ...  name_ja                    notes
0           England  OWID_ENG  ...   イングランド  subnational area of GBR
1          Scotland  OWID_SCT  ...  スコットランド  subnational area of GBR
2             Wales  OWID_WLS  ...    ウェールズ  subnational area of GBR
3  Northern Ireland  OWID_NIR  ...  北アイルランド  subnational area of GBR

[4 rows x 16 columns]

In [99]:
countries = countries.append(sub).reset_index(drop=True)

In [102]:
countries[['UN','WB','MOFA','EU','vac_data']] = False

In [103]:
countries.loc[countries.name_full.str.contains('England|Scotland|Wales|Northern Ireland')]

    code_3digit  ...        source
99          GBR  ...  iso_code.csv
360    OWID_ENG  ...          OWID
361    OWID_SCT  ...          OWID
362    OWID_WLS  ...          OWID
363    OWID_NIR  ...          OWID

[5 rows x 56 columns]

修正

In [109]:
countries.loc[countries.code_3digit.str.contains('OWID'),'code_OWID'] = countries.loc[countries.code_3digit.str.contains('OWID'),'code_3digit']

In [110]:
countries.loc[countries.code_3digit.str.contains('OWID')&countries.code_OWID.isna()]

Empty DataFrame
Columns: [code_3digit, code_2digit, code_FT, ISO3, ISO2, code_GENC, code_GENC_2, FIPS, code_OWID, numeric, numeric_UN_M49, code_MOFA, sovereignty_code, sovereignty_code_NK, name_full, name_short, region, name_ja, name_ja_NK, sovereignty_name_NK, region_ja, name_MOFA, region_MOFA, name_ISO, name_UN, name_WB, name_FIPS, name_GENC_short, name_GENC_full, name_CIA, name_FT, category, population_agg, population_source, population_WB_2020, population_WB_2019, population_UN_2021, population_UN_2020, population_CIA, update_CIA, population_FT, population_OWID, region_UN, subregion_UN, subregion2_UN, region_WB, income_WB, UN, WB, MOFA, EU, vac_data, lat_nikkei, long_nikkei, notes, source]
Index: []

In [113]:
countries.to_csv('countries_meta_r.csv')